body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
  }
  
  .calculator-board {
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  
  .calculator-board-inn {
    margin: 3px;
  }

  .calculator-board-right {
    display: flex;
    flex-direction: column;

  }
  
  .square-wide {
    font-size: 20px;
    height: 30px;
    width: 50px;
  }

  .display {
    height: 40px;
    width: 200px;
    margin: 5px;
    margin-top: 5px;
  }
